


<h1>Realmente deseja apagar este cantor?</h1>
<br/>
<form action="Delete">
    
    <button type="submit" action="Delete" >Sim</button>      
    <a href="Index" type="button" class="btn btn-primary" action="Index">Não</a>
</form>

