@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var buscar = ViewBag.Nome;
}
<title>Buscar Artista</title>
<table class="table">
    <tr>
        <td>@buscar.Id</td>
        <td>@buscar.NomeCantor</td>
        <td>@buscar.NomeMusica</td> 
</tr>
</table>