@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<title>Buscar Cantor</title>
<form action="Musica/Post" method="post">
    <label for="nome">Nome do Cantor</label>
    <input type="text" nome="nome" id="nome" />
    <a asp-controller="Musica" asp-action="Get" button>Buscar</a>
    <a asp-controller="Musica" asp-action="Index" button>Voltar</a>
</form>