@{
    ViewData["Title"] = "Lista de Artistas";
    var listaCantor = ViewBag.Cantores;
}

    <h1>Lista de Artistas</h1>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Nome do Cantor</td>
        <td>Nome da Música</td>
    </tr>
    @{
        foreach (var c in listaCantor)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.NomeCantor</td>
                <td>@c.NomeMusica</td>

                
                <td>
                    <a href="Musica/GetFormUpdate?id=@c.Id" type="button" class="btn btn-primary"> EditarPorGet </a>
                </td>               
                <td>
                    <form action="Musica/Delete" method="post">
                        
                        <input name="id" value="@c.Id" type="hidden" />
                        <button type="submit"> Deletar</button>
                       
                    </form>
                </td>
            </tr>
        }
    }

</table>
<hr/>
    <a href="Musica/PostForm" type="button" class="btn btn-primary" > Adicionar </a>
    <hr />
    <form action="Musica/GetForName" method="post">

        <input name="nome" type="text"/>
        <button type="submit">Buscar</button>

    </form>
