@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<title>Criar Artista</title>
<form action="Post" method="post">
    <label for="nome">Nome do Cantor</label>
    <input type="text" name="NomeCantor" id="nome" />

    <label for="nome">Nome da Musica</label>
    <input type="text" name="NomeMusica" id="musica" />

    <button type="submit" action="Post">Criar</button>

</form>